* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #5c7946;
}

li {
  list-style: none;
}

a {
  color: #f3ecda;
  text-decoration: none;
}

.navbar {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  flex-wrap: wrap;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 16px;
}

.nav-menu-container {
  width: 85%;
  margin: 0 auto;
  border-top: 3px solid #f3ecda;
  padding-top: 16px;
  text-align: center;
  padding-bottom: 16px;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: Alatsi;
}

.nav-branding {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Marck Script";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f3ecda;
}

.search {
  display: flex;
  align-items: center;
  padding: 7px;
  border-radius: 6.25rem;
  background-color: #f3ecda;
}

.search-input {
  font-size: 0.75rem;
  margin-left: 7px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.items-carousel {
  background-color: #f3ecda;
  overflow: hidden;
  padding: 15px 0;
  white-space: nowrap;
  border-bottom: #5c7946;
  border-bottom-style: solid;
}

.items-carousel:hover .item-slide {
  animation-play-state: paused;
}

.item-slide {
  display: inline-block;
  animation: 20s slide infinite linear;
}

.item-slide img {
  margin: 0 40px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #5c7946;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }
}

.mainpage-slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.mainpage-slider img {
  width: 100%;
  display: none;
}

img.displaySlide {
  display: block;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}
  
h1.featured {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: Alatsi;
  padding-top: 10px;
  color: #5C7946;
}

.featured-section{
  background-color: #f3ecda;
  padding-bottom: 20px;
}

.featured-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}

.item {
  width: calc(50% - 150px);
  margin: 10px 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: transform 0.2s;
}

.item:hover {
  transform: scale(1.05);
}

.item-image {
  position: relative;
}

.item-image img {
  width: 100%;
  display: block;
}

h1.featured {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: Alatsi;
  padding-top: 10px;
}

.favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.add-to-cart {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #5C7946;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}


.item-image:hover .add-to-cart {
  display: block;
}

.item-details {
  padding: 16px;
  text-align: center;
  background-color: rgb(242, 243, 237);
}

.item-name {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.item-price {
  font-size: 1rem;
  color: #5C7946;
}

/* Add to cart */

.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-height: 80%;
  overflow-y: auto;
}

.cart-modal-content h2 {
  margin-top: 0;
}

.cart-modal-content ul {
  list-style-type: none;
  padding-left: 0;
}

.cart-modal-content li {
  margin-bottom: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

.cart-modal-content {
  position: relative;
}

.checkout {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #5c7946;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}


/* Style for the checkout button in the cart modal */
.cart-modal-content .checkout-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #5C7946;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}

.cart-modal-content .checkout-button:hover {
  background-color: #4a6139;
}

.cart-modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}


.cart-total {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

/*Footer */
.footer {
  background-color:#5c7946;
  color: #f3ecda;
  text-align: center;
  height: 150px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .contact {
  font-size: 1.2rem;
  font-family: Alatsi;
  margin-right: 10px; 
}

.footer .icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.footer .icon:hover {
  opacity: 0.8;
}
